!!! 5
html(lang='en')
head
    meta(charset='utf-8')
    title Serie A Live
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='/bootstrap.css', rel='stylesheet')
    link(href='/matchview.css', rel='stylesheet')
    link(href='/animate.css', rel='stylesheet')
    script(src='/socketio.js')
  body
    .navbar
      .navbar-inner
        a.brand(href='/') Serie A Live
        ul.nav.pull-left
          li.pull-left
            span.navbar-text Season:
            select#selectSeason.span2
            span.navbar-text   Day:
            select#selectDay.span2
              option 1
        ul.nav.pull-right
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              | Admin Login
              b.caret
            ul.dropdown-menu
              li
                h4 Log In
                p Insert your credentials
                form#loginform(action='javascript: ')
                  input#user(type='text', placeholder='username', name='user')
                  input#password(type='password', placeholder='password', name='password')
                  #loginerror
                  #loading
                    img(src='/spin.gif')
                  button#login.btn.btn-primary(type='submit') Log me in
    .container
    footer
      #footdiv
        p
          | © 2013 FA & IA · 
          a(href='about.html') About 
          | · 
          a(href='#') Back to top
    script(src='/jquery.js')
    script(src='/bootstrap.js')
    script(src='/matchview.js')
