<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Serie A Live</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Le styles -->
  <link href="/bootstrap.css" rel="stylesheet">
  <link href="/matchview.css" rel="stylesheet">
  <script src="/socketio.js"></script>
</head>

<body>
  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="#">Serie A Live</a>
      <ul class="nav pull-right">
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Admin Login
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li>
            <h4>Log In</h4>
            <p>Insert your credential</p>
            <form id="loginform" action="javascript: ">
              <input type="text" placeholder="username" name="user" id="user">
              <input type="password" placeholder="password" name="password" id="password">
              <div id="loginerror"></div>
              <div id="loading"><img src="/spin.gif"></div>
              <button class="btn btn-primary" id="login" type="submit">Log me in</button>
          </li>
        </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="container">
    <div class="row accordion" id="accordion2">
      <div class="span10 offset1 well accordion-group" id="dsowag">
        <div class="row accordion-heading" id="drah">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
           <div class="span1 scudo"> <img src="/roma.png" alt="" /></div>
           <p class="span3 team">A.S. Roma</p>
           <p class="span2 team">1 - 2</p>
           <p class="span3 team">Genoa F.C.</p>
           <div class="span1 scudo"> <img src="/genoa.png" alt="" /></div>			
         </a>
       </div>
       <div id="collapseOne" class="accordion-body collapse in span10">
        <div class="row accordion-inner" id="inner">
         <div class="span1"></div>
         <div class="span3 offset1 score">7' Totti</div>
         <div class="span2 score"></div>
         <div class="span3 offset2 score">14' Borriello</div>
         <div class="span1"></div>
       </div>
     </div>
   </div>
 </div>
</div>
</div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/jquery.js"></script>
    <script src="/bootstrap.js"></script>
    <script src="/login.js"></script>

  </body>
  </html>
