!!! 5
html(lang='en')
head
    meta(charset='utf-8')
    title Serie A Live
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='/bootstrap.css', rel='stylesheet')
    link(href='/matchview.css', rel='stylesheet')
    script(src='/socketio.js')
  body
    .navbar
      .navbar-inner
        a.brand(href='#') Serie A Live
        ul.nav.pull-left
          li.pull-left
            span.navbar-text Season:
            select#selectSeason.span2
              option 2013/14
            span.navbar-text   Day:
            select#selectDay.span2
              option 1
        ul.nav.pull-right
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              | Admin Login
              b.caret
            ul.dropdown-menu
              li
                h4 Log In
                p Insert your credentials
                form#loginform(action='javascript: ')
                  input#user(type='text', placeholder='username', name='user')
                  input#password(type='password', placeholder='password', name='password')
                  #loginerror
                  #loading
                    img(src='/spin.gif')
                  button#login.btn.btn-primary(type='submit') Log me in
    .container
      #accordion0.row.accordion
        #dsowag.span10.offset1.well.accordion-group
          #drah.row.accordion-heading
            a.accordion-toggle(data-toggle='collapse', data-parent='#accordion0', href='#collapse0')
              .span1.scudo
                img(src='/2.png', alt='')
              p.span3.team A.S. Roma
              p.span2.team 1 - 2
              p.span3.team Genoa F.C.
              .span1.scudo
                img(src='/1.png', alt='')
          #collapse0.collapsed.accordion-body.collapse.in.span10
            #inner.row.accordion-inner
              .span1
              .span3.offset1.score 7' Totti
              .span2.score
              .span3.offset2.score 14' Borriello
              .span1
      #accordion1.row.accordion
        #dsowag.span10.offset1.well.accordion-group
          #drah.row.accordion-heading
            a.accordion-toggle(data-toggle='collapse', data-parent='#accordion1', href='#collapse1')
              .span1.scudo
                img(src='/2.png', alt='')
              p.span3.team A.S. Roma
              p.span2.team 1 - 2
              p.span3.team Genoa F.C.
              .span1.scudo
                img(src='/1.png', alt='')
          #collapse1.collapsed.accordion-body.collapse.in.span10
            #inner.row.accordion-inner
              .span1
              .span3.offset1.score 7' Totti
              .span2.score
              .span3.offset2.score 14' Borriello
              .span1
            #inner.row.accordion-inner
              .span1
              .span3.offset1.score
              .span2.score
              .span3.offset2.score 24' Borriello
              .span1
      #accordion2.row.accordion
        #dsowag.span10.offset1.well.accordion-group
          #drah.row.accordion-heading
            a.accordion-toggle(data-toggle='collapse', data-parent='#accordion2', href='#collapse2')
              .span1.scudo
                img(src='/2.png', alt='')
              p.span3.team A.S. Roma
              p.span2.team 1 - 2
              p.span3.team Genoa F.C.
              .span1.scudo
                img(src='/1.png', alt='')
          #collapse2.collapsed.accordion-body.collapse.in.span10
            #inner.row.accordion-inner
              .span1
              .span3.offset1.score 7' Totti
              .span2.score
              .span3.offset2.score 14' Borriello
              .span1
      #accordion3.row.accordion
        #dsowag.span10.offset1.well.accordion-group
          #drah.row.accordion-heading
            a.accordion-toggle(data-toggle='collapse', data-parent='#accordion3', href='#collapse3')
              .span1.scudo
                img(src='/2.png', alt='')
              p.span3.team A.S. Roma
              p.span2.team 1 - 2
              p.span3.team Genoa F.C.
              .span1.scudo
                img(src='/1.png', alt='')
          #collapse3.collapsed.accordion-body.collapse.in.span10
            #inner.row.accordion-inner
              .span1
              .span3.offset1.score 7' Totti
              .span2.score
              .span3.offset2.score 14' Borriello
              .span1
      #accordion4.row.accordion
        #dsowag.span10.offset1.well.accordion-group
          #drah.row.accordion-heading
            a.accordion-toggle(data-toggle='collapse', data-parent='#accordion4', href='#collapse4')
              .span1.scudo
                img(src='/2.png', alt='')
              p.span3.team A.S. Roma
              p.span2.team 1 - 2
              p.span3.team Genoa F.C.
              .span1.scudo
                img(src='/1.png', alt='')
          #collapse4.collapsed.accordion-body.collapse.in.span10
            #inner.row.accordion-inner
              .span1
              .span3.offset1.score 7' Totti
              .span2.score
              .span3.offset2.score 14' Borriello
              .span1
      #accordion5.row.accordion
        #dsowag.span10.offset1.well.accordion-group
          #drah.row.accordion-heading
            a.accordion-toggle(data-toggle='collapse', data-parent='#accordion5', href='#collapse5')
              .span1.scudo
                img(src='/2.png', alt='')
              p.span3.team A.S. Roma
              p.span2.team 1 - 2
              p.span3.team Genoa F.C.
              .span1.scudo
                img(src='/1.png', alt='')
          #collapse5.collapsed.accordion-body.collapse.in.span10
            #inner.row.accordion-inner
              .span1
              .span3.offset1.score 7' Totti
              .span2.score
              .span3.offset2.score 14' Borriello
              .span1
      #accordion6.row.accordion
        #dsowag.span10.offset1.well.accordion-group
          #drah.row.accordion-heading
            a.accordion-toggle(data-toggle='collapse', data-parent='#accordion6', href='#collapse6')
              .span1.scudo
                img(src='/2.png', alt='')
              p.span3.team A.S. Roma
              p.span2.team 1 - 2
              p.span3.team Genoa F.C.
              .span1.scudo
                img(src='/1.png', alt='')
          #collapse6.collapsed.accordion-body.collapse.in.span10
            #inner.row.accordion-inner
              .span1
              .span3.offset1.score 7' Totti
              .span2.score
              .span3.offset2.score 14' Borriello
              .span1
      #accordion7.row.accordion
        #dsowag.span10.offset1.well.accordion-group
          #drah.row.accordion-heading
            a.accordion-toggle(data-toggle='collapse', data-parent='#accordion7', href='#collapse7')
              .span1.scudo
                img(src='/2.png', alt='')
              p.span3.team A.S. Roma
              p.span2.team 1 - 2
              p.span3.team Genoa F.C.
              .span1.scudo
                img(src='/1.png', alt='')
          #collapse7.collapsed.accordion-body.collapse.in.span10
            #inner.row.accordion-inner
              .span1
              .span3.offset1.score 7' Totti
              .span2.score
              .span3.offset2.score 14' Borriello
              .span1
      #accordion8.row.accordion
        #dsowag.span10.offset1.well.accordion-group
          #drah.row.accordion-heading
            a.accordion-toggle(data-toggle='collapse', data-parent='#accordion8', href='#collapse8')
              .span1.scudo
                img(src='/2.png', alt='')
              p.span3.team A.S. Roma
              p.span2.team 1 - 2
              p.span3.team Genoa F.C.
              .span1.scudo
                img(src='/1.png', alt='')
          #collapse8.collapsed.accordion-body.collapse.in.span10
            #inner.row.accordion-inner
              .span1
              .span3.offset1.score 7' Totti
              .span2.score
              .span3.offset2.score 14' Borriello
              .span1
      #accordion9.row.accordion
        #dsowag.span10.offset1.well.accordion-group
          #drah.row.accordion-heading
            a.accordion-toggle(data-toggle='collapse', data-parent='#accordion9', href='#collapse9')
              .span1.scudo
                img(src='/2.png', alt='')
              p.span3.team A.S. Roma
              p.span2.team 1 - 2
              p.span3.team Genoa F.C.
              .span1.scudo
                img(src='/1.png', alt='')
          #collapse9.collapsed.accordion-body.collapse.in.span10
            #inner.row.accordion-inner
              .span1
              .span3.offset1.score 7' Totti
              .span2.score
              .span3.offset2.score 14' Borriello
              .span1
      footer
        #footdiv
          p
            | © 2013 FA & IA ·
            a(href='about.html') About
            | ·
            a(href='#') Back to top
    script(src='/jquery.js')
    script(src='/bootstrap.js')
    script(src='/login.js')
